input {
	height: 2rem;
	border: #ddd 1px solid;
	margin-bottom: 1rem;
	font-size: 1.2em;
	padding-left: 0.5rem;
}

.anchors {
	margin: 0 0 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.25rem;
}

a.button {
	width: 2.5rem;
	height: 2.5rem;
	border: $prime 1px solid;
	color: $prime;
	text-decoration: none;

	display: flex;
	justify-content: center;
	align-items: center;

	&.back-to-top {
		position: fixed;
		bottom: 0;
		right: 1rem;
		background-color: $prime;
		color: #fff;
	}
}

.table-container {
	overflow-x: auto;

	table {
		border-collapse: collapse;
		width: 100%;
	}

	tr:nth-child(even) {
		opacity: 0.7;
	}

	tr.heading {
		margin: 0.5rem 0;
		display: block;

		& + span {
			color: $prime;
			font-size: x-large;
			margin-left: 0.25rem;
		}
	}

	th,
	td {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;

		&:nth-of-type(2) {
			max-width: 6rem;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&:nth-of-type(3) {
			min-width: 180px;
		}

		@media (min-width: 750px) {
			&:nth-of-type(2) {
				max-width: unset;
			}
		}
	}

	// hide id
	@media (max-width: 750px) {
		th:not(.heading),
		td {
			&:nth-of-type(1) {
				display: none;
			}
		}
	}
}

// hide letters and letter selection on search
input:not(input:placeholder-shown) {
	& + .wrapper div.table-container {
		tr.heading,
		span {
			display: none;
		}
	}

	& + .wrapper div.anchors {
		display: none;
	}
}
